<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.storybox.AR"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->
	<preference name="phonegap-version" value="3.0.0" />
	<preference name="android-minSdkVersion" value="10" />
	<preference name="splash-screen-duration" value="1500"/>
	<preference name="exit-on-suspend" value="true" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="permissions" value="none"/>
    <name>Realidad Aumentada</name>

    <description>
        Shareapp 
    </description>

    <author href="https://storybox.mx" email="otapia@storybox.mx">
        Storybox Transmedia
    </author>
	
	<!-- copy WikitudePlugin wrapper file into www-folder -->
    <js-module src="www/WikitudePlugin.js" name="WikitudePlugin">
        <clobbers target="WikitudePlugin" />
    </js-module>
	
	<gap:platform name="android" />
	
	 <!-- android -->
    <platform name="android">
	<!-- declare implementation of WikitudePlugin -->
        <source-file src="src/android/WikitudePlugin.java" target-dir="src/com/wikitude/phonegap" />
	
	<!-- for Android -->
	 <!-- add permissions and requirements -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_GPS" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-feature android:glEsVersion="0x00020000" android:required="true" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
            <uses-feature android:name="android.hardware.location" android:required="true" />
            <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
            <uses-feature android:name="android.hardware.sensor.compass" android:required="true" />
        </config-file>


        <!-- adds MediaPlayerActivity, required for startVideo feature-->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.wikitude.tools.activities.MediaPlayerActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
        </config-file>


        <!-- copy wikitude sdk -->
        <source-file src="src/android/libs/wikitudesdk.jar" target-dir="libs/" />


        <!-- adds WikitudePlugin in project's config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WikitudePlugin">
                <param name="android-package" value="com.wikitude.phonegap.WikitudePlugin"/>
            </feature>
        </config-file>


        <!-- visible after installation -->
        <info>
            Have fun using world's first AR plugin for PhoneGap. Visit http://developer.wikitude.com/documentation/phonegap for technical support.
            
            Make sure that you enter your Wikitude SDK license key in `WikitudePlugin.js` line 12. If you havent bought a license please visit http://www.wikitude.com/store.
            
            If you want to contribute to the open source project, please visit us at github, http://github.com/Wikitude
        </info>

    </platform>
	
	<icon src="icon/android/icon-96-xhdpi.png" />
	<icon src="icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	<gap:splash src="splash/android/screen-xhdpi-portrait.png" />
	<gap:splash src="splash/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" /> 	

	<preference name="android-installLocation" value="auto" />
</widget>